 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif;
 }

 *::selection {
     background-color: white;
     color: #95C11E;
 }

 input:placeholder-shown {
     text-align: center;
 }

 html,
 body {
     width: 100%;
     height: 100%;
 }

 .main {
     width: 100%;
     min-height: 100%;
     background-image: url("./photo/blackbg.png");
 }

 .nav {
     background-color: white;
     width: 100%;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .nav .logo {
     position: relative;
     left: 25px;
 }

 .nav .search {
     display: flex;
     align-items: center;
     position: relative;
     right: 25px;
 }

 .nav .search .karachi {
     width: 85px;
     height: 35px;
     font-size: 1.25vw;
     background-color: #95C11E;
     color: white;
     border: 2PX solid #95C11E;
 }

 .nav .search input {
     width: 325px;
     height: 35px;
     border: 2px solid #95C11E;
 }

 .nav .search .icon {
     width: 35px;
     height: 35px;
     font-size: 1.25vw;
     background-color: #95C11E;
     color: white;
     border: 2PX solid #95C11E;
 }

 .more i {
     font-size: 1.65vw;
 }

 .dropdown li {
     padding: 5px 5px;
     text-align: center;
     border-bottom: 2px solid white;
     width: 160px;
     height: 35px;
 }

 .dropdown li:hover {
     text-decoration: underline;
     text-decoration-color: white;
 }

 .dropdown {
     text-align: center;
     font-size: 1.35vw;
     list-style: none;
     display: none;
     position: absolute;
     background-color: #95C11E;
     min-width: 160px;
     z-index: 1;
 }

 .dropdown a {
     color: white;
     text-decoration: none;
 }

 .more:hover .dropdown {
     display: block;
 }

 .login {
     padding: 10px 15px;
 }

 .login button,
 .log button {
     border-radius: 10px;
     width: 85px;
     height: 35px;
     font-size: 1.25vw;
     background-color: #95C11E;
     border: 2PX solid #95C11E;
 }

 .login button a,
 .log button a {
     color: white;
     text-decoration: none;
 }

 .body .img {
     display: flex;
     overflow: hidden;
     overflow-x: scroll;
     margin-left: 350px;
     margin-top: 25px;
     width: 750px;
     height: 350px;
 }

 .body .img::-webkit-scrollbar {
     display: block;
     height: 7px;
     background-color: white;
 }

 .body .img::-webkit-scrollbar-thumb {
     background-color: #95C11E;
     border-radius: 50px;
 }

 .body .pakistan {
     width: 100%;
     height: 400px;
     margin-top: 25px;
     text-align: center;
     color: whitesmoke;
 }

 .body .pakistan h1 {
     margin-top: 15px;
     font-size: 1.95vw;
     font-weight: 100;
     text-decoration: underline;
     text-decoration-style: double;
     text-decoration-color: #95C11E;
 }

 .body .pakistan p {
     width: 750px;
     margin-left: 350px;
     margin-top: 15px;
     text-align: justify;
     text-transform: capitalize;
     font-size: 1.25vw;
     text-align-last: center;
 }

 .body .pakistan button {
     margin-top: 15px;
     width: 155px;
     height: 45px;
     background-color: #95C11E;
     color: white;
     border: 2PX solid #95C11E;
 }

 .body .pakistan button a {
     color: whitesmoke;
     font-size: 1.25vw;
     text-decoration: none;
 }

 .foot {
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     height: 200px;
     background-color: whitesmoke;
     margin-top: 25px;
 }

 .food {
     margin-top: 15px;
     border-right: 5px solid gray;
     width: 400px;
     text-align: center;
     list-style: none;
 }

 .food h2,
 .web h2,
 .log h2 {
     margin-top: 10px;
     font-size: 1.95vw;
     font-weight: 100;
     text-decoration: underline;
     text-decoration-color: #95C11E;
 }

 .food a {
     padding: 5px 5px;
     font-size: 1.35vw;
     color: black;
     text-decoration: none;

 }

 .web {
     margin-top: 15px;
     border-right: 5px solid grey;
     width: 400px;
     text-align: center;
 }

 .web a {
     padding: 5px 5px;
     font-size: 1.35vw;
     color: black;
     text-decoration: none;
 }

 .log {
     margin-top: 15px;
     width: 400px;
     text-align: center;
 }

 .log button {
     margin-top: 10px;
 }

 .log i,
 .log h3 {
     font-size: 1.45vw;
     font-weight: 400;
 }

 .navlog {
     background-color: white;
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;

 }

 .navlog .home button {
     text-align: center;
     width: 145px;
     height: 35px;
     font-size: 1.25vw;
     background-color: #95C11E;
     border: 2px solid #95C11E;
     border-radius: 10px;
 }

 .navlog .home button a {
     text-decoration: none;
     color: white;
 }

 .bodytwo {
     display: flex;
     justify-content: space-evenly;
 }

 .bodysign {
     background-color: white;
     margin-top: 50px;
     border: 2px solid white;
     width: 800px;
     height: 550px;
     border-radius: 7px;
 }

 .bodylog {
     background-color: white;
     margin-top: 50px;
     border: 2px solid white;
     width: 500px;
     height: 420px;
     border-radius: 7px;
 }

 .bodysign h1,
 .bodylog h1 {
     text-align: center;
     margin-top: 15px;
     font-size: 2vw;
     font-weight: bolder;
     font-weight: 100;
     text-decoration: underline;
     text-decoration-style: double;
     text-decoration-color: #95C11E;
 }

 .bodylog form {
     width: 100%;
     height: 350px;
     font-size: 1.35vw;
     margin-top: 15px;
 }

 .bodysign form {
     width: 100%;
     height: 400px;
     font-size: 1.35vw;
     margin-top: 15px;
 }

 .name {
     padding: 10px 10px;
     display: flex;
     justify-content: space-evenly;
 }

 .name input,
 .pass input {
     width: 250px;
     height: 35px;
     border: 2px solid #95C11E;
     border-radius: 7px;
 }

 .mail {
     margin-top: 15px;
     text-align: center;
 }

 .mail input {
     border: 2px solid #95C11E;
     width: 300px;
     height: 35px;
     border-radius: 7px;
 }

 .pass {
     margin-top: 15px;
     text-align: center;
 }

 .bodylog .pass input {
     width: 300px;
     height: 35px;
     border: 2px solid #95C11E;
     border-radius: 7px;
     margin-left: 5px;
 }

 .bodylog .mail input {
     margin-left: 20px;
 }

 .gender,
 .date {
     margin-top: 15px;
     text-align: center;
     padding: 15px 15px;
 }

 .gender h4,
 .date h4 {
     font-size: 1.45vw;
     font-weight: 100;
 }

 .date select {
     width: 80px;
     text-align: center;
 }

 form .button {
     text-align: center;
     padding: 15px 15px;
 }

 form button {
     text-align: center;
     width: 145px;
     height: 35px;
     font-size: 1.25vw;
     background-color: #95C11E;
     border: 2px solid #95C11E;
     border-radius: 10px;
 }

 form button a {
     color: white;
     text-decoration: none;
 }

 form button a:hover {
     text-decoration: underline;
     text-decoration-color: white;

 }

 .forgot {
     padding: 15px 15px;
     font-size: 1.35vw;
     text-align: end;
     margin-bottom: 25px;
 }

 .forgot a {
     text-decoration: none;
     color: black;
 }

 .forgot a:hover {
     text-decoration: underline;
     text-decoration-color: black;
 }

 .bodyacc {
     background-color: white;
     margin-top: 50px;
     margin-left: 370px;
     border: 2px solid white;
     width: 800px;
     height: 550px;
     border-radius: 7px;
 }

 .bodyacc .ii {
     color: #95C11E;
     font-size: 15vw;
     padding: 15px 15px;
     text-align: center;
     height: 275px;
 }

 .bodyacc .prttwo {
     color: #95C11E;
     text-align: center;
     padding: 15px 15px 15px 15px;
     height: 275px;
 }

 .big {
     width: 100%;
     height: auto;
     text-align: center;
     padding: 25px 25px 25px 25px;
 }

 .big .head {
     font-size: 1.85vw;
     font-weight: lighter;
     color: #95C11E;
     text-decoration: underline;
     text-decoration-style: double;
     text-decoration-color: white;
 }

 .big .head h1 {
     font-weight: 400;
 }

 .mini {
     width: 100%;
     height: auto;
     padding: 10px 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
 }

 .mini .one {
     padding: 5px 5px;
     background-color: white;
     width: 295px;
     height: 345px;
     margin: 10px 10px 10px 10px;
     border-radius: 7px;
 }

 .mini .one:hover{
    box-shadow: 0px 0px 16px 8px rgba(149,193,30,0.75);
-webkit-box-shadow: 0px 0px 16px 8px rgba(149,193,30,0.75);
-moz-box-shadow: 0px 0px 16px 8px rgba(149,193,30,0.75);
 }

 .mini .one .header {
     font-size: 1.65vw;
     text-decoration: underline;
     text-decoration-color: #95C11E;
 }

 .mini .one .img {
     margin-top: 5px;
 }

 .mini .one .last {
     padding: 5px 5px;
 }

 .mini .one .header h4 {
     font-weight: 400;
 }

 .mini .one .last h6 {
     font-size: 1.25vw;
     font-weight: 100;
 }

 .mini .one .last i {
     font-size: 1.45vw;
 }

 .mini .one .last p {
     font-size: 1.45vw;
 }

 .mini .one .last button {
     margin-top: 5px;
     width: 115px;
     height: 35px;
     font-size: 1.35vw;
     background-color: #95C11E;
     border: 2px solid #95C11E;
     border-radius: 10px;
 }

 .mini .one .last button a {
     text-decoration: none;
     color: white;
 }

 .mini .one .last button a:hover {
     text-decoration: underline;
     text-decoration-color: white;
 }

 .end h1 {
     text-align: center;
     background-color: #95C11E;
     color: white;
 }